<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Değerli Edebiyat    </title>
   
  </head>
  <body>
    
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  />
   


    <div>
  
      <%- include('header'); %>
        <br><br><br>
        <div id="id"></div> 
        <center>
            <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-black-200">
                Bize Ulaşabileceğiniz Yerler            
            </h1><!--Facebook Button -->

        
        <a href="https://www.instagram.com/oguz_kilic33/">
            <button id="instagram" class=" border-2 hover:border-0 border-pink-500 bg-gradient-to-b text-2xl hover:from-indigo-600 hover:via-pink-600 hover:to-yellow-500 min-w-wull hover:text-white bg-white text-pink-600 w-12 h-12   hover:-translate-y-3 rounded-full duration-500 ">
              <i class="fab fa-instagram"></i>
            </button>
          </a>
          <a href="https://www.instagram.com/aydenizakgol/">
            <button id="instagram" class=" border-2 hover:border-0 border-pink-500 bg-gradient-to-b text-2xl hover:from-indigo-600 hover:via-pink-600 hover:to-yellow-500 min-w-wull hover:text-white bg-white text-pink-600 w-12 h-12   hover:-translate-y-3 rounded-full duration-500 ">
              <i class="fab fa-instagram"></i>
            </button>
          </a>
        <br> <br> <br>
        </div>
        
         
          <script>
            tippy('#facebook',{
              content:'Facebook',
              animation:'fade',
              placement: 'bottom',

              delay:[200,200]
            });
            tippy('#instagram1',{
              content:'oguz_kilic33',
              animation:'fade',
              placement: 'bottom',

              delay:[200,200]
            });
            tippy('#instagram2',{
              content:'aydenizakgol',
              animation:'fade',
              placement: 'bottom',

              delay:[200,200]
            });
             tippy('#whatsapp',{
              content:'Whatsapp',
              animation:'fade',
              placement: 'bottom',

              delay:[200,200]
            });
            tippy('#twitter',{
              content:'Twitter',
              placement: 'bottom',

              animation:'fade',
              delay:[200,200]
            });
            tippy('#youtube',{
              content:'Youtube',
              animation:'fade',
              placement: 'bottom',

              delay:[200,200]
            });
            tippy('#telegram',{
              content:'Telegram',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#reddit',{
              content:'Reddit',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#googleplus',{
              content:'Google +',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#skype',{
              content:'Skype',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#line',{
              content:'Line',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#discord',{
              content:'Discord',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#tiktok',{
              content:'Tiktok',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#linkedin',{
              content:'Linkedin',
              animation:'fade',
              placement: 'top',
              delay:[200,200]
            });
             tippy('#snapchat',{
              content:'Snapchat',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
            tippy('#pinterest',{
              content:'Pinterest',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200],
            });
            tippy('#spotify',{
              content:'Spotify',
              animation:'fade',
              placement: 'bottom',
              delay:[200,200]
            });
        
        
           
           
          </script></center> 
        
        <footer class="border-t">
            <div class="container flex items-center justify-between px-6 py-8 mx-auto">
                <p class="text-gray-500">© 2021-2022 Tüm Hakları Saklıdır.</p>
                <p class="font-medium text-gray-700">Tuna Kılıç tarafından kodlanmıştır</p>
            </div>
        </footer>
    </div>
  </body>
</html>
